/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
    font-size: 16px;
}

/* GENERALI */
ul, ol, nav {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
    padding: 5px 10px; 
}

.button-blue {
    background-color: #0061FF;
    color: white;
    width: fit-content;
}

.button-white {
    background-color: transparent;
    color: black;
    width: fit-content;
    border: 1px solid currentColor;
}

.header, main {
    max-width: 1920px;
    margin: 0 auto;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.section {
    margin-bottom: 150px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 24px;
}

.col8 {
    width: calc(100% / 3 * 2);
}

.col4 {
    width: calc(100% / 3);
} 

.col12 {
    width: calc(100% / 1);
}

.col6 {
    width: calc(100% / 2);
}

.col3 {
    width: calc(100% / 4);
}


/* HEADER  */
.header {
    padding: 18px;
}

.header > .row {
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.header .list-1 {
    flex-grow: 1;
}



/* MAIN  */

/* HERO  */
.hero {
    background-color: #B4D0E7;
}

.hero > .container {
    padding-top: 70px;
}

.hero-part-1 {
    margin-bottom: 45px;
}

.hero h1 {
    font-size: 84px;
}

.hero .hero-part-2 {
    flex-wrap: nowrap;
    height: 400px;
}

.hero-part-2 > .row  { 
    flex-direction: column;
}

.hero-descriptions p,
.hero-descriptions a {
    margin-bottom: 30px;
}

.hero-part-2 .arrow {
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: 10px;
}


/* SECTION 1  */
.section1-title{
    margin-bottom: 60px;
}

.billing-buttons {
    align-items: center;
    margin-bottom: 45px;
    /* gap: 40px; */
}

.billing-buttons > .row {
    gap: 5px;
    align-items: center;
}

.circle {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%; 
    cursor: pointer;
}

.circle1 .circle {
    border: 3px solid #0061FF;
}

/* cards  */

.cards {
    border: 1px solid rgb(65, 61, 61);
}

.card-header {
    text-align: center;
    border-bottom: 1px solid rgb(65, 61, 61);
    padding: 10px 0;
}

.section1-content > .row {
    gap: 50px;
}


.card-header-title {
    display: inline-block;
}

.card-body {
    padding: 30px;
}

.card-body li,
.card-body h3,
.card-body p,
.card-body h4 {
    padding-bottom: 15px;
}

.purchase a {
    color: blue;
    text-decoration: underline;
    padding: 0px 0px; 
}

.cards hr {
    width: 40px;
    color: grey;
}

.sub {
    margin-bottom: 30px;
}

.col8 p {
    margin-top: auto;
}

.section-1 .col4 {
    flex-basis: 0;
    flex-grow: 1;
}

/* colonna larga in basso */
.col12 .col4 {
    width: calc(100% / 3 * 1);
    justify-content: center;
    align-items: baseline;
}

.col12 .col8 {
    width: calc(100% / 3 * 2);
    flex-direction: column;
    
}

.condition-position {
    padding-left: 30px;
    position: relative;
}

.fa-people-carry-box,
.fa-check {
    position: absolute;
    top: 4px;
    left: 0;
} 

.prova {
    position: unset;
}


/* SECTION 2 */
.section-2 .partner-section-2 {
    padding: 50px;
}

.col-3-5 {
    width: calc(100% / 5 * 3);
}

.col-2-5 {
    width: calc(100% / 5 * 2);
}

.partner-section-2 h3 {
    margin-bottom: 20px;
}

.partner-section-2 p {
    margin-bottom: 30px;
}


/* SECTION 3 */
.section-3 .row {
    gap: 40px;
}

.section-3 .card {
    margin-bottom: 50px;
}

.section-3 > .title{
    margin-bottom: 50px;
}

.section-3 img {
    margin-bottom: 20px;
}

.section-3 h3 {
    margin-bottom: 30px;
}

.section-3 .col4 {
    width: calc((100% - 80px) /3);
}


/* SECTION 4  */
.section-4 h2 {
    margin-bottom: 50px;
}

.section-4 a {
    color: blue;
    text-decoration: underline;
    padding: 0px 0px; 
    display: block;
    margin-bottom: 100px;
}

.marchii {
    position: relative;
}

.immaginelogo {
    aspect-ratio: 1/1;
}

.marchii img{
    max-width: 150px;

}

.marchi .col6 {
    justify-content: center ;
    align-items: center;
    display: flex;
    background-color: #0061FF;
    position: relative;
}

.marchii img {
    filter: invert(1);
}

.thumbnail-marchio {
    padding: 50px 50px 0 50px;
}

.thumbnail-marchio img,
.thumbnail-marchio hr,
.thumbnail-marchio .first-p{
    margin-bottom: 50px;
}

.thumbnail-marchio img {
    
    max-height: 80px;
    
}

.bordi::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.bordi.active::after {
    opacity: 1;
}

.bordi::after {
    border: 10px solid rgb(255, 255, 255, 0.5);
}


.thumbnail-marchio hr {
    width: 100px;
    color: grey;
}


/* SECTION 5 */
.section-4 {
    margin-bottom: 0;
}

.section-5 {
    background-color: #B4D0E7;
    padding: 150px 0;
}

.section-5 h2 {
    color: rgb(97, 8, 43);
}

.section-5 .container-small {
   justify-content: space-between;
}

.section-5-button {
    justify-content: flex-end;
}

.section-5 .button-white {
    height: fit-content;
    line-height: 1.5em;
    background-color: white;
}


/* SECTION 6 */
.section-6 h2 {
    margin-bottom: 65px;
}

.section-6 .row {
    justify-content: space-between;
    font-weight: bold;
    padding: 40px 0;
    border-bottom: 1px solid rgb(160, 160 , 160);
}

.section-6 .first-row {
    border-top: 1px solid rgb(160, 160 , 160);
}


/* FOOTER */
#footer {
    background-color: black;
    color: white;
}

#footer .footer-section-1{
    padding: 100px 0;
}

#footer .row {
    justify-content: space-between;
    gap: 20px;
}

#footer h3 {
    margin-bottom: 30px;
}

#footer li {
    line-height: 2em;
}

#footer hr {
    width: 100px;
    color: grey;
    margin-bottom: 50px;
}


#footer .container-2-footer {
    padding-bottom: 50px;
    color: grey;
}


#footer #language-choice {
    color: grey;
    background-color: black;
}

#footer .language {
    display: flex;
    gap: 5px;
}








/* DEBUG  */
.debug * {
    border: 2px solid red;
}



