/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anek Latin', sans-serif;
    font-size: 16px;
}

/* GENERALI */
ul, ol, nav {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
    padding: 0px 10px;
    
}

.button-blue {
    background-color: #0061FF;
    color: white;
    width: fit-content;
}

.container-small {
    max-width: 1000px;
    margin: 0 auto;
}

.container-big {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
   flex-wrap: wrap;
}

/* .col4 {
    width: calc(100% / 3);
} */

.col12 {
    width: calc(100% / 1);
}



/* HEADER  */
.header {
    padding: 18px;
}

.header {
    max-width: 1920px;
    margin: 0 auto;
    
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.header .list {
    display: flex;
}

.header .list-1 {
    flex-grow: 1;
}



/* MAIN  */

/* HERO  */
.hero {
    background-color: #B0F1FF;
    margin-bottom: 160px;
}

.hero > .container {
    padding-top: 70px;
}

.hero-part-1 {
    margin-bottom: 15px;
}

.hero h1 {
    font-weight: 700;
    font-size: 84px;
    padding-bottom: 30px;
}

.hero-part-2 {
    height: 400px;
    line-height: 1.2em;
}

.hero .hero-part-2 {
    display: flex;
}

.hero-part-2 .col1 {
    width: calc(100% / 3 * 2);
    display: flex;
    flex-direction: column;
    line-height: 1.4em;
}

.hero-descriptions .button-blue {
    padding: 10px;
}

.hero-descriptions p,
.hero-descriptions a {
    margin-bottom: 30px;
}

.hero-descriptions a {
    display: block;
}

.hero-part-2 .arrow {
    width: 40px;
    height: 40px;
    margin-top: auto;
}


/* SECTION 1  */
.section1-title h2{
    font-size: 40px;
    margin-bottom: 60px;
}

.billing-buttons {
    align-items: center;
    margin-bottom: 45px;
}

.cards {
    border: 1px solid rgb(65, 61, 61);
    padding: 30px;
}

.billing-buttons {
    gap: 20px;
}

.circle {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 50%; 
    display: inline-block;
}

.circle1 .circle {
    border: 3px solid #0061FF;
}

.card-header {
    text-align: center;
    border: 1px solid rgb(65, 61, 61);
    padding: 10px 0;
}

.card-header-title {
    font-size: 16px;
    display: inline-block;
}

.card-body {
    line-height: 2em;
}

.list-conditions .row,
.list-highlights .row{
    gap: 5px;
    align-items: center;
}

.fa-solid fa-check {
    color: #0061FF;
}

.section1-content > .row {
    gap: 50px;
}

.col4 {
    flex-basis: 0;
    flex-grow: 1;
}

.cards hr {
    width: 40px;
    color: grey;
}

.sub {
    margin-bottom: 30px;
}


/* DEBUG  */
.debug * {
    border: 2px solid red;
}

