/* RESET  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Anek Latin', sans-serif; */
    font-size: 16px;
}

/* GENERALI */
ul, ol, nav {
    list-style: none;
}

img {
    width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
    padding: 0px 10px;
    
}

.button-blue {
    background-color: rgb(30 75 216);
    color: white;
    width: fit-content;
}

/* HEADER  */
.header {
    padding: 18px;
}

.header > .container {
    max-width: 1920px;
    margin: 0 auto;
}

.header .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.header .list {
    display: flex;
}

.header .list-1 {
    flex-grow: 1;
}



/* MAIN  */

/* HERO  */
.hero {
    background-color: #B0F1FF;
}

.hero > .container {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 70px;
}

.hero-part-1 {
    margin-bottom: 15px;
}

.hero h1 {
    font-weight: bold;
    font-size: 84px;
}

.hero-part-2 {
    height: 400px;
    line-height: 1.2em;
}

.hero .hero-part-2 {
    display: flex;
}

.hero-part-2 .col1 {
    width: calc(100% / 3 * 2);
    position: relative;
}

.hero-descriptions p,
.hero-descriptions a {
    margin-bottom: 30px;
}

.hero-part-2 .arrow {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 15px;
}








/* DEBUG  */
.debug * {
    border: 2px solid red;
}